@font-face {
  font-family: "Roboto Flex";
  src:
          local("Roboto Flex"),
          url("/public/fonts/RobotoFlex.ttf") format("truetype");
  font-weight: 800;
  font-variation-settings: 'wdth' 151, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
